<template>
    <v-card max-width="640px" class="mt-10 mx-auto">
        <v-card-text>
            <v-text-field
                    label="Jours par semaine"
                    type="number"
                    v-model="daysPerWeeks"
            />
            <v-text-field
                    label="Semaines de congés"
                    type="number"
                    v-model="weeksOff"
            />
            <v-text-field
                    label="Travail annexe"
                    type="number"
                    step="0.1"
                    v-model="workSchedule"
            />
            <v-text-field
                    label="Ratio charges"
                    type="number"
                    step="0.1"
                    v-model="ratio"
            />
            <v-text-field
                    label="Jours par ans"
                    type="number"
                    disabled
                    v-model="daysPerYear"
            />
            <v-text-field
                    label="Salaire net mensuel"
                    type="number"
                    v-model="monthlySalary"
            />
            <v-text-field
                    label="Objectif mois"
                    type="number"
                    disabled
                    v-model="monthObjective"
            />
            <v-text-field
                    label="Objectif année"
                    type="number"
                    disabled
                    v-model="yearObjective"
            />
            <v-text-field
                    label="Tarif journalier"
                    type="number"
                    v-model="dailyRate"
            />
        </v-card-text>
    </v-card>

</template>

<style>
    table {
    }
</style>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';

  @Component
  export default class Salaire extends Vue {
    private static WEEKS_PER_YEAR = 52
    private static MONTHS_PER_YEAR = 12

    private daysPerWeeks = 5
    private weeksOff = 6
    private workSchedule = 0.4
    private ratio = 0.5
    private monthlySalary = 2300

    private get daysPerYear (): number {
      return ((Salaire.WEEKS_PER_YEAR - +this.weeksOff) * +this.daysPerWeeks) * (1 - +this.workSchedule)
    }

    private get monthObjective (): number {
      return +this.monthlySalary + (+this.monthlySalary * +this.ratio)
    }

    private get yearObjective (): number {
      return Salaire.MONTHS_PER_YEAR * this.monthObjective
    }

    private get dailyRate (): number {
      return this.yearObjective / this.daysPerYear
    }

    private set dailyRate (dailyRate: number) {
      const yearObjective = dailyRate * this.daysPerYear
      const monthObjective = yearObjective / Salaire.MONTHS_PER_YEAR
      this.monthlySalary = monthObjective / (+this.ratio + 1)
    }

    private set monthObjective (objective: number) {
      console.log(objective)
    }
  }
</script>
