<template>
    <v-app>
        <v-content>
            <Salaire/>
        </v-content>
    </v-app>
</template>

<script lang="ts">
  import Salaire from './components/Salaire.vue'
  import { Vue, Component } from "vue-property-decorator"

  @Component({
    components: {
      Salaire
    }
  })
  export default class App extends Vue {

  }
</script>
